@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ciudadanos Sanos</h1>
    <img src="https://i.pinimg.com/564x/a9/8f/71/a98f715e5c312c4f21702fd561f70bdd.jpg"alt="Sample Photo" width="550px" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 text-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://i.pinimg.com/564x/9c/99/69/9c99697e7bc7f86c914657d65ff2e3cc.jpg" alt="Sample Photo" width="150px" />
                            <p>CONSULTAS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://i.pinimg.com/564x/60/3b/78/603b788437d526d392955027ff1fb882.jpg" alt="Sample Photo" width="180px" />
                            <p>ODONTOLOGIA</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://i.pinimg.com/236x/6d/78/4c/6d784c4b7fdd8075321043f1119cc503.jpg" alt="Sample Photo" width="180px" />
                            <p>HOSPITALIZACION</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://i.pinimg.com/236x/d1/cf/bc/d1cfbc908a7083b16eb097603edabc56.jpg" alt="Sample Photo" width="180px" />
                            <p>URGENCIAS</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
