@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ciudadanos Sanos</h1>
    <img src="https://i.pinimg.com/564x/a9/8f/71/a98f715e5c312c4f21702fd561f70bdd.jpg"alt="Sample Photo" width="550px" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
